@import url('https://fonts.googleapis.com/css?family=Roboto|Oswald');

$primary-color: #0d47a1;
$plus-button-hover-color: #1565c0;
$secondary-color: #9E9E9E;
$tertiarycolor: #d50000;
$close-button-hover-color: #ff5131;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.logo{
  display: block;
}

@media only screen and (max-width: 400px){
  .logo {
    display: none;
  }
}

.title, .subtitle {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;

  &.indexTitle {
    margin-bottom: 2px;
  }
}

.marker {
  width: 30px;
}

.active-marker {
  width: 40px;
}

// FORM ==================================
.film-image-form {
  max-height: 70px;
  max-width: 70px;
  margin: auto;
}

.film-card-form {
  min-height: 150px;
  height: auto;
  min-width: 150px;
  max-width: 200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.card {
  justify-content: center;
  text-align: center;
}

.card-image.film-image-form {
  justify-content: center;
}

figure.image img {
  margin: 10px 0 25px 0;
}

.first-field label.label {
  padding-top: 20px;
}

.submit {
  margin: 10px auto;
}

//SIDE BARS ==================================
.sidebar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  z-index: 4;
  transform: translateX(0px);
  transform: translateX(0px);
  transition-property: -webkit-transform,transform,opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
  background-color: #fff;

  &.close {
    transform: translateX(-400px);
  }
}

@media only screen and (max-width: 400px){
  .sidebar-wrapper {
    position: fixed;
    top: 50%;
    width: 100%;
    &.close {
      transform: translateX(0px);
      transform: translateY(-50.1%);
    }
  }
}

.right-sidebar-wrapper {
  position: absolute;
  top: 0;
  right: -500px;
  height: 100%;
  width: 400px;
  z-index: 6;
  transform: translateX(0px);
  transition-property: -webkit-transform,transform,opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
  background-color: #fff;

  &.open {
    transform: translateX(-500px);
  }
}

@media only screen and (max-width: 400px){
  .right-sidebar-wrapper {
    right: -100%;
    display: none;
    &.open {
      transform: translateX(-100%);
      width: 100%;
      display: inline-block;
    }
  }
}

.sidebar {
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
  overflow-y: hidden;
  background-color: #fff;

  &:hover {
    overflow-y: auto;
  }
}

@media only screen and (max-width: 400px){
  .sidebar {
    padding: 30px 0px;
  }
  .locationsContainer {
    .title, .subtitle, .address {
      padding: 0 15px;
    }
  }
  .filterSelect {
    padding: 0 25px;
  }
  .locationShow {
    margin: 15px;
  }
}

.togglewrapper {
  opacity: 1;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
}

@media only screen and (max-width: 400px){
  .togglewrapper {
    width: 100%;
    height: 55px;
    left: 0;
    background-color: #fff;
  }
}

.togglebutton {
  position: absolute;
  width: 35px;
  height: 50px;
  background-color: #fff;
  top: 8px;
  left: 100%;
  padding: 12px 10px 10px 10px;
}

@media only screen and (max-width: 400px){
  .togglebutton, {
    top: 25px;
    height: auto;
    left: 2%;
    padding: 0;
    transform: rotate(90deg);
  }
}


// ICONS AND MAP FURNITURE=======================================
.map, .location {
  height: 100vh;
}
@media only screen and (max-width: 400px){
  .map, .location {
    height: 50vh;
  }
}

.map-icon {
  position: fixed;
  display: block;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  z-index: 4;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &:hover {
    color: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &.cancel {
    position: absolute;
    bottom: 30px;
    right: 100%;
    z-index: 4;
    display: block;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 400px){
  .map-icon {
    position: fixed;
    display: inline-block;
    bottom: 40px;
    right: 40px;

    &.cancel {
      position: fixed;
      display: inline-block;
      bottom: 40px;
      right: 40px;
      border-radius: 50%;
      margin: 0;
    }
  }
}

.fa-plus-circle {
  color: $primary-color;

  :hover {
    color: $plus-button-hover-color;
  }
}

.fa-times-circle {
  color: $tertiarycolor;

  :hover {
    color: $close-button-hover-color;
  }
}

.login-logout-wrapper {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 4;
}

@media only screen and (max-width: 400px){
  .login-logout-wrapper {
    top: 9px;
    right: 15px;
  }
}

.edit-form-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;

  .label {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 400px){
  .edit-form-wrapper {
    width: 100%;
  }
}


//MAP POP UP STYLING =====================================
.mapboxgl-popup-content {
  height: 120px;
  width: 300px;
}

.marker-popup-content {
  height: 100%;
  display: flex;
  flex-direction: row;

  img {
    max-height: 90%;
    padding-right: 10px;
  }

  .pop-up-title {
    margin-bottom: 5px;
  }
  .pop-up-films {
    line-height: 15px;
  }
}

//SITE WIDE BUTTONS =======================================
.button {
  background-color: $primary-color;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-left: 10px;

  &:hover {
    color: #fff;
    background-color: $plus-button-hover-color;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &:focus {
    color: #fff;
  }

  &.logout{
    background-color: $secondary-color;
  }

  &.edit-profile {
    margin: 0 0 30px 0;
  }
}


// LOCATION INDEX STYLES===============================

.locationShow {
  height: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 15px;
  opacity: 0;
  margin-top: 10px;
  visibility: hidden;
  -webkit-box-shadow: inset 0px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 2px 5px -1px rgba(0,0,0,0.75);

  &.show {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
}

hr.dark-hr {
background-color: #d8d8d8;
}

@media only screen and (max-width: 400px){
  hr.dark-hr {
    margin: 5px 0;
    margin-bottom: 25px;
  }
}

.hidden {
  display: none;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

.level {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.scene-note {
  margin-top: 10px;
}

.location-image {
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

.film-title {
  font-size: 14px;
}

.profile-note {
  margin-bottom: 10px;
}

.edit-button {
  padding-top: 10px;
  padding-bottom: 25px;
}
